In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_columns', None)

### Info Depot

In [9]:
infoDepot=pd.read_csv('../data/processed/InfoDEPOT.csv')
infoDepot['depot_name']=infoDepot['depot_name'].str.strip()
infoDepot['state']=infoDepot['state'].str.strip()
infoDepot['zone']=infoDepot['zone'].str.strip()
infoDepot['code']=infoDepot['code'].str.strip()
infoDepot['route_desc']=infoDepot['route_desc'].str.strip()
infoDepot['distance']=infoDepot['distance'].str.replace(",","").str.strip().astype(float)
infoDepot['stop_name']=infoDepot['stop_name'].str.strip()
infoDepot['street_name']=infoDepot['street_name'].str.strip()

infoDepot['geolocation']=gpd.points_from_xy(infoDepot['latitude'], infoDepot['longitude'])

infoDepot=infoDepot.to_json(orient = "records")

with open('../data/processed/json/infoDepot.json', 'w') as f:
    f.write(infoDepot)

# run once to create solr collection infoDepot /home/hadoop/solr-9.3.0/bin/solr create -c infoDepot
os.system('/home/hadoop/solr-9.3.0/bin/solr create -c infoDepot')

# run once to post data into infoDepot collection /home/hadoop/solr-9.3.0/bin/post -c infoDepot /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoDepot.json
os.system('/home/hadoop/solr-9.3.0/bin/post -c infoDepot /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoDepot.json')

sh: /home/hadoop/solr-9.3.0/bin/solr: No such file or directory
sh: /home/hadoop/solr-9.3.0/bin/post: No such file or directory

32512

### Info Bas

In [14]:
infoBas=pd.read_csv('../data/processed/InfoBAS.csv')
infoBas['ope_date']=pd.to_datetime(infoBas['ope_date'])
infoBas['br_date']=pd.to_datetime(infoBas['br_date'])
infoBas['br_date_entry']=pd.to_datetime(infoBas['br_date_entry'])
infoBas['br_target_completed']=pd.to_datetime(infoBas['br_target_completed'])
infoBas['rtd_date']=pd.to_datetime(infoBas['rtd_date'])
infoBas['date_issues']=pd.to_datetime(infoBas['date_issues'])
infoBas['acc_date']=pd.to_datetime(infoBas['acc_date'])
infoBas=infoBas.drop(columns=['label_1','label_2','label_3'])

infoBas=infoBas.to_json(orient = "records")

with open('../data/processed/json/infoBas.json', 'w') as f:
    f.write(infoBas)

# run once to create solr collection infoBas /home/hadoop/solr-9.3.0/bin/solr create -c infoBas
# run once to post data into infoBas collection /home/hadoop/solr-9.3.0/bin/post -c infoDepot /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoBas.json

c:\Users\izard\anaconda3\envs\pytorch\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Info Captain

In [20]:
infoCaptain=pd.read_csv('../data/captain_schedule/processed/infoCAPTAIN.csv')
infoCaptain['cs_date']=pd.to_datetime(infoCaptain['cs_date'])
infoCaptain['ope_date']=pd.to_datetime(infoCaptain['ope_date'])
infoCaptain=infoCaptain.rename(columns={'dt_gps_max':'dt_endduty','dt_gps_min':'dt_startduty'})

infoCaptain=infoCaptain.to_json(orient = "records")

with open('../data/processed/json/infoCaptain.json', 'w') as f:
    f.write(infoCaptain)

# run once to create solr collection infoCaptain /home/hadoop/solr-9.3.0/bin/solr create -c infoCaptain
os.system('/home/hadoop/solr-9.3.0/bin/solr create -c infoCaptain')

# run once to post data into infoCaptain collection /home/hadoop/solr-9.3.0/bin/post -c infoCaptain /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoCaptain.json
os.system('/home/hadoop/solr-9.3.0/bin/post -c infoCaptain /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoCaptain.json')

,cs_captain_id,bus_no,depot_id,route_id,cs_date,cs_startat,cs_endat,cs_startduty,cs_endduty,cs_totaltrip,minutes_plan,dt_captain_id,ope_date,dt_endduty,dt_startduty,dt_totaltrip,minutes_actual
0,VNNTUGYM,VAH9042,21,681,2022-10-01,MRT Sg.Buloh,NaN,05:00:00,15:00:00,12,600,NaN,NaT,NaN,NaN,NaN,NaN
1,ZFRXTOSA,VAH9042,21,681,2022-10-01,MRT Sg.Buloh,NaN,13:55:00,00:30:00,13,635,NaN,NaT,NaN,NaN,NaN,NaN
2,SHGYQRDN,VH1579,21,801,2022-10-01,MRT Sg.Buloh,NaN,04:55:00,15:05:00,7,610,NaN,NaT,NaN,NaN,NaN,NaN
3,TFNZBHEA,VAJ2875,21,801,2022-10-01,MRT Sg.Buloh,NaN,05:30:00,15:45:00,7,615,NaN,NaT,NaN,NaN,NaN,NaN
4,JMOJOCJA,VH1579,21,801,2022-10-01,MRT Sg.Buloh,NaN,14:25:00,00:15:00,7,590,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937490,HOEKEEHO,WVA4269,2,875,2022-09-30,DESA SRI HARTAMAS,LING HO,14:25:00,00:55:00,8,630,CKAYMVII,2022-09-30,23:04:59,14:56:31,7.0,488.0
937491,HOEKEEHO,WVA4269,2,875,2022-09-30,DESA SRI HARTAMAS,LING HO,14:25:00,00:55:00,8,630,HRTEEBFF,2022-09-30,14:17:01,06:00:03,8.0,496.0
937492,FAGAZGGK,WVE7352,2,875,2022-09-30,DESA SRI HARTAMAS,LING HO,14:45:00,01:25:00,8,640,SQATILCV,2022-09-30,00:31:01,17:53:58,6.0,397.0
937493,FAGAZGGK,WVE7352,2,875,2022-09-30,DESA SRI HARTAMAS,LING HO,14:45:00,01:25:00,8,640,ZAKTZSKN,2022-09-30,14:51:48,06:14:50,8.0,516.0
937494,GMBGNBFW,WVA4347,2,875,2022-09-30,DESA SRI HARTAMAS,LING HO,15:00:00,23:25:00,6,505,HLWIOBQH,2022-09-30,22:31:10,06:32:44,14.0,958.0

### Info Trip