In [7]:
import pandas as pd
import numpy as np

In [21]:
infoTRIP=pd.read_csv('../data/trip_departure/processed/td_agg.csv')
infoTRIP

,ope_date,depot_id,line_id,bus_no,point_a,point_b,ttl_td_id,ttl_captain_id,ttl_point_a,ttl_point_b,...,avg_diff_minutes_idle_mode,avg_diff_minutes_to_point_a,med_diff_minutes_from_point_a,med_diff_minutes_idle_mode,med_diff_minutes_to_point_a,max_speed,min_speed,avg_speed,med_speed,ttl_td_completed
0,2022-10-01,10,K1000,CDH7753,H/BANDAR,GAMBANG RESORT,14,1,1,1,...,61.783333,68.311111,72.258333,57.675000,80.316667,28.0,8.0,16.181818,15.0,14.0
1,2022-10-01,10,K1000,CDD1442,H/BANDAR,GAMBANG RESORT,12,1,1,1,...,32.366667,88.500000,73.366667,41.483333,82.150000,56.0,15.0,24.090909,19.0,12.0
2,2022-10-01,10,K1000,CDH2338,H/BANDAR,GAMBANG RESORT,12,1,1,1,...,57.560000,60.505556,83.266667,51.216667,62.033333,59.0,8.0,21.777778,17.0,12.0
3,2022-10-01,10,K1000,CDH5966,H/BANDAR,GAMBANG RESORT,12,1,1,1,...,53.123333,70.572222,76.666667,44.350000,71.983333,45.0,8.0,17.083333,14.0,12.0
4,2022-10-01,10,K1000,CDH7750,H/BANDAR,GAMBANG RESORT,8,1,1,1,...,24.000000,86.300000,94.383333,18.483333,86.300000,56.0,6.0,21.285714,16.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11542,2022-10-21,5,U5900,WB759L,BANDAR SUNGAI LONG,LEBUH PUDU,16,1,1,1,...,29.302381,82.491667,72.250000,8.500000,74.741667,46.0,1.0,25.142857,29.0,16.0
11543,2022-10-21,5,U4000,WA1376G,DAMAI PERDANA,HUB LEBUH PUDU via B,10,1,1,1,...,18.900000,89.827778,63.291667,7.391667,75.350000,35.0,4.0,14.700000,13.0,10.0
11544,2022-10-21,5,U6500,WPV6981,KL Santral (Petron),Pasar Seni,32,1,1,1,...,13.816667,70.683333,5.500000,3.500000,69.241667,24.0,1.0,11.611111,11.5,32.0
11545,2022-10-21,2,U1910,WUX5671,SRI SEGAMBIUT,CHOW KIT,43,2,1,1,...,14.519048,33.007576,29.250000,7.500000,33.000000,38.0,1.0,15.846154,13.0,43.0
11546,2022-10-21,2,U1910,WUW8426,SRI SEGAMBIUT,CHOW KIT,48,2,1,1,...,13.479710,32.330556,30.750000,8.500000,31.250000,41.0,1.0,15.617647,15.5,48.0

In [22]:
infoBAS=pd.read_csv('../data/processed/InfoBAS.csv')
infoBAS

c:\Users\izard\anaconda3\envs\pytorch\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ope_date,depot_id,line_id,bus_no,br_id,br_repair_status,br_entry_status,br_date,br_date_entry,br_target_completed,...,fc_remark,label_3,date_issues,capt_id,bcc_acc_id,acc_date,bus_damage,eng_find,label_1,label
0,2022-10-01,10,K1000,CDH7753,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
1,2022-10-01,10,K1000,CDD1442,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
2,2022-10-01,10,K1000,CDH2338,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
3,2022-10-01,10,K1000,CDH5966,1129191.0,MAJOR,BAS MENYENTAP MASA MEMANDU,2022-10-01,2022-10-01,2022-10-02,...,NaN,NaN,2022-10-01,NaN,NaN,NaN,NaN,NaN,NaN,engine repair
4,2022-10-01,10,K1000,CDH7750,1129194.0,SCH.PM,SERVIS A,2022-10-01,2022-10-01,2022-10-02,...,NaN,NaN,2022-10-01,NaN,NaN,NaN,NaN,NaN,NaN,engine repair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358143,2022-09-30,7,T7910,WVA2966,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
358144,2022-09-30,7,T8500,WUT8479,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
358145,2022-09-30,7,T8500,WVD3251,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,return to depot,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,return to depot
358146,2022-09-30,7,T8500,WVE5806,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
358147,2022-09-30,7,T7820,WVD2353,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip

In [43]:
#data model
#pd.merge(infoTRIP,infoBAS.drop(columns=['label_1','label_2','label_3']),how='left',on=['ope_date','depot_id','bus_no']) #.to_csv('../data/model/data_model.csv',index=False)
infoBAS_update=pd.merge(infoTRIP,infoBAS.drop(columns=['label_1','label_2','label_3']),how='left',on=['ope_date','depot_id','line_id','bus_no']).drop_duplicates()
infoBAS_update.columns[25]

'med_speed'

In [48]:
infoDepot=pd.read_csv('../data/processed/InfoDEPOT.csv',low_memory=False)[['depot_id','depot_name']].drop_duplicates()

infoTRIP=pd.read_csv('../data/trip_departure/processed/td_agg.csv',low_memory=False)
infoTRIP['ope_date']=pd.to_datetime(infoTRIP['ope_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')

infoBas=pd.read_csv('../data/processed/InfoBAS.csv')

infoBas['ope_date']=pd.to_datetime(infoBas['ope_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['br_date']=pd.to_datetime(infoBas['br_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['br_date_entry']=pd.to_datetime(infoBas['br_date_entry']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['br_target_completed']=pd.to_datetime(infoBas['br_target_completed']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['rtd_date']=pd.to_datetime(infoBas['rtd_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['date_issues']=pd.to_datetime(infoBas['date_issues']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['acc_date']=pd.to_datetime(infoBas['acc_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')

#infoBas=infoBas.drop(columns=['label_1','label_2','label_3'])

infoBas=pd.merge(infoTRIP,infoBas,how='left',on=['ope_date','depot_id','line_id','bus_no']).drop_duplicates()
infoBas=pd.merge(infoBas,infoDepot,how='left',on=['depot_id']).drop_duplicates()

infoBas.to_csv('../data/model/data_model.csv',index=False)

infoBas.columns

#/home/hadoop/MyRapidHack2023-BackEnd/

Index(['ope_date', 'depot_id', 'line_id', 'bus_no', 'point_a', 'point_b',
       'ttl_td_id', 'ttl_captain_id', 'ttl_point_a', 'ttl_point_b',
       'max_diff_minutes_from_point_a', 'max_diff_minutes_idle_mode',
       'max_diff_minutes_to_point_a', 'min_diff_minutes_from_point_a',
       'min_diff_minutes_idle_mode', 'min_diff_minutes_to_point_a',
       'avg_diff_minutes_from_point_a', 'avg_diff_minutes_idle_mode',
       'avg_diff_minutes_to_point_a', 'med_diff_minutes_from_point_a',
       'med_diff_minutes_idle_mode', 'med_diff_minutes_to_point_a',
       'max_speed', 'min_speed', 'avg_speed', 'med_speed', 'ttl_td_completed',
       'br_id', 'br_repair_status', 'br_entry_status', 'br_date',
       'br_date_entry', 'br_target_completed', 'br_ttl_days', 'label_2',
       'rtd_id', 'rtd_date', 'route_id', 'bus_model_id', 'driver_id',
       'rtd_cause', 'cause_remark', 'fc_remark', 'label_3', 'date_issues',
       'capt_id', 'bcc_acc_id', 'acc_date', 'bus_damage', 'eng_find',
       'label_1', 'label', 'depot_name'],
      dtype='object')

In [31]:
#predictive output,depot_id
pd.read_csv('../ml/result_score_outofsample.csv')#.columns

,depot_id,ttl_td_id,ttl_captain_id,ttl_point_a,ttl_point_b,max_diff_minutes_from_point_a,max_diff_minutes_idle_mode,max_diff_minutes_to_point_a,min_diff_minutes_from_point_a,min_diff_minutes_idle_mode,...,rtd_cause_en,br_ttl_days_en,rtd_id_en,route_id_en,bus_model_id_en,driver_id_en,capt_id_en,newlabel_en,prediction_label,prediction_score
0,5,16,1,1,1,77.783330,59.116665,88.066666,54.733334,0.000000,...,-1,-1,-1,-1,-1,-1,-1,0,0,1.0
1,5,34,1,1,1,6.533333,53.783333,69.000000,4.666666,0.333333,...,-1,-1,-1,-1,-1,-1,-1,0,0,1.0
2,2,36,2,1,1,41.000000,52.000000,47.983334,29.500000,2.500000,...,-1,-1,-1,-1,-1,-1,-1,0,0,1.0
3,5,46,4,1,1,31.000000,64.000000,45.500000,24.000000,1.500000,...,-1,-1,-1,-1,-1,-1,-1,0,0,1.0
4,2,32,2,1,1,58.000000,45.750000,60.000000,37.000000,2.000000,...,-1,-1,-1,-1,-1,-1,-1,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4398,5,16,1,1,1,119.000000,76.500000,112.983330,66.483330,1.000000,...,-1,-1,-1,-1,-1,-1,-1,0,0,1.0
4399,5,10,1,1,1,70.216670,60.816666,120.283330,56.366665,0.000000,...,-1,-1,-1,-1,-1,-1,-1,0,0,1.0
4400,5,32,1,1,1,8.500000,54.050000,98.483330,5.000000,0.500000,...,-1,-1,-1,-1,-1,-1,-1,0,0,1.0
4401,2,43,2,1,1,33.000000,44.016666,43.483334,26.500000,2.000000,...,-1,-1,-1,-1,-1,-1,-1,0,0,1.0
4402,2,48,2,1,1,39.000000,28.983334,36.500000,25.000000,2.500000,...,-1,-1,-1,-1,-1,-1,-1,0,0,1.0