In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [7]:
infoTRIP=pd.read_csv('../data/trip_departure/processed/td_agg.csv')
infoTRIP

,ope_date,depot_id,line_id,bus_no,point_a,point_b,ttl_td_id,ttl_captain_id,ttl_point_a,ttl_point_b,max_diff_minutes_from_point_a,max_diff_minutes_idle_mode,max_diff_minutes_to_point_a,min_diff_minutes_from_point_a,min_diff_minutes_idle_mode,min_diff_minutes_to_point_a,avg_diff_minutes_from_point_a,avg_diff_minutes_idle_mode,avg_diff_minutes_to_point_a,med_diff_minutes_from_point_a,med_diff_minutes_idle_mode,med_diff_minutes_to_point_a,max_speed,min_speed,avg_speed,med_speed,ttl_td_completed
0,2022-10-01,10,K1000,CDH7753,H/BANDAR,GAMBANG RESORT,14,1,1,1,84.533333,102.900000,80.500000,63.883333,29.100000,44.116667,73.233333,61.783333,68.311111,72.258333,57.675000,80.316667,28.0,8.0,16.181818,15.0,14.0
1,2022-10-01,10,K1000,CDD1442,H/BANDAR,GAMBANG RESORT,12,1,1,1,158.950000,46.250000,106.600000,45.866667,3.800000,76.750000,92.727778,32.366667,88.500000,73.366667,41.483333,82.150000,56.0,15.0,24.090909,19.0,12.0
2,2022-10-01,10,K1000,CDH2338,H/BANDAR,GAMBANG RESORT,12,1,1,1,83.283333,104.966667,80.116667,78.750000,34.916667,39.366667,81.766667,57.560000,60.505556,83.266667,51.216667,62.033333,59.0,8.0,21.777778,17.0,12.0
3,2022-10-01,10,K1000,CDH5966,H/BANDAR,GAMBANG RESORT,12,1,1,1,79.983333,103.183333,83.833333,75.650000,33.933333,55.900000,77.433333,53.123333,70.572222,76.666667,44.350000,71.983333,45.0,8.0,17.083333,14.0,12.0
4,2022-10-01,10,K1000,CDH7750,H/BANDAR,GAMBANG RESORT,8,1,1,1,114.933333,47.083333,97.566667,73.833333,6.433333,75.033333,94.383333,24.000000,86.300000,94.383333,18.483333,86.300000,56.0,6.0,21.285714,16.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318267,2022-09-30,7,U7710,WUY4101,USJ 1,SUNWAY PYRAMID,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
318268,2022-09-30,5,T5810,WPX605,PPR Pinggiran Bukit,LRT Alam Sutera,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
318269,2022-09-30,4,T2240,WWC4559,LRT Dato Keramat,Desa Pandan,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,16.0,16.000000,16.0,1.0
318270,2022-09-30,7,U7080,WVE5708,Bandar klang,Sunway Lagoon,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,5.000000,5.0,1.0
318271,2022-09-30,5,T6000,WPX5814,LRT Puchong Jaya,Tmn Wawasan,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.000000,3.0,1.0

In [8]:
infoBAS=pd.read_csv('../data/processed/InfoBAS.csv')
infoBAS

/var/folders/0n/c05wcq0d0wx4svldfv7fsgv00000gn/T/ipykernel_1685/2665164473.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  infoBAS=pd.read_csv('../data/processed/InfoBAS.csv')

,ope_date,depot_id,line_id,bus_no,br_id,br_repair_status,br_entry_status,br_date,br_date_entry,br_target_completed,br_ttl_days,label_2,rtd_id,rtd_date,route_id,bus_model_id,driver_id,rtd_cause,cause_remark,fc_remark,label_3,date_issues,capt_id,bcc_acc_id,acc_date,bus_damage,eng_find,label_1,label
0,2022-10-01,10,K1000,CDH7753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
1,2022-10-01,10,K1000,CDD1442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
2,2022-10-01,10,K1000,CDH2338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
3,2022-10-01,10,K1000,CDH5966,1129191.0,MAJOR,BAS MENYENTAP MASA MEMANDU,2022-10-01,2022-10-01,2022-10-02,1.0,engine repair,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-01,NaN,NaN,NaN,NaN,NaN,NaN,engine repair
4,2022-10-01,10,K1000,CDH7750,1129194.0,SCH.PM,SERVIS A,2022-10-01,2022-10-01,2022-10-02,1.0,engine repair,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-01,NaN,NaN,NaN,NaN,NaN,NaN,engine repair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358143,2022-09-30,7,T7910,WVA2966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
358144,2022-09-30,7,T8500,WUT8479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
358145,2022-09-30,7,T8500,WVD3251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230404.0,2022-09-30,742.0,9.0,ZIYESHCC,13.0,"WEPER TIDAK BERFUNGSI,",NaN,return to depot,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,return to depot
358146,2022-09-30,7,T8500,WVE5806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip
358147,2022-09-30,7,T7820,WVD2353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal trip

In [4]:
#data model
#pd.merge(infoTRIP,infoBAS.drop(columns=['label_1','label_2','label_3']),how='left',on=['ope_date','depot_id','bus_no']) #.to_csv('../data/model/data_model.csv',index=False)
#infoBAS_update=pd.merge(infoBAS.drop(columns=['label_1','label_2','label_3']),infoTRIP,how='left',on=['ope_date','depot_id','line_id','bus_no']).drop_duplicates()
#infoBAS_update#.columns[25]

In [41]:
infoDepot=pd.read_csv('../data/processed/InfoDEPOT.csv',low_memory=False)[['depot_id','depot_name']].drop_duplicates()

infoTRIP=pd.read_csv('../data/trip_departure/processed/td_agg.csv',low_memory=False)
infoTRIP['ope_date']=pd.to_datetime(infoTRIP['ope_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')

infoBas=pd.read_csv('../data/processed/InfoBAS.csv')

infoBas['ope_date']=pd.to_datetime(infoBas['ope_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['br_date']=pd.to_datetime(infoBas['br_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['br_date_entry']=pd.to_datetime(infoBas['br_date_entry']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['br_target_completed']=pd.to_datetime(infoBas['br_target_completed']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['rtd_date']=pd.to_datetime(infoBas['rtd_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['date_issues']=pd.to_datetime(infoBas['date_issues']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['acc_date']=pd.to_datetime(infoBas['acc_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')

#infoBas=infoBas.drop(columns=['label_1','label_2','label_3'])

infoBas=pd.merge(infoBas,infoTRIP,how='left',on=['ope_date','depot_id','line_id','bus_no']).drop_duplicates()
infoBas=pd.merge(infoBas,infoDepot,how='left',on=['depot_id']).drop_duplicates()


#imputation
infoBas['br_id']=infoBas['br_id'].fillna('0000000').astype(str).str.replace('\.0','')
infoBas['br_repair_status']=infoBas['br_repair_status'].fillna('N/A').astype(str)
infoBas['br_entry_status']=infoBas['br_entry_status'].fillna('N/A').astype(str)
infoBas['br_date']=infoBas['br_date'].fillna('N/A')
infoBas['br_date_entry']=infoBas['br_date_entry'].fillna('N/A')
infoBas['br_target_completed']=infoBas['br_target_completed'].fillna('N/A')
infoBas['br_ttl_days']=pd.to_numeric(infoBas['br_ttl_days'],errors='coerce').fillna(0).astype(int)
#infoBas['br_repair_status']=pd.to_numeric(infoBas['br_repair_status'], errors='coerce').fillna('0000000').astype(str).str.replace('\.0','')
infoBas['rtd_date']=infoBas['rtd_date'].fillna('N/A')
infoBas['rtd_id']=pd.to_numeric(infoBas['rtd_id'], errors='coerce').fillna(0).astype(int)
infoBas['route_id']=pd.to_numeric(infoBas['route_id'], errors='coerce').fillna(0).astype(int)
infoBas['bus_model_id']=pd.to_numeric(infoBas['bus_model_id'], errors='coerce').fillna(0).astype(int)
infoBas['rtd_cause']=pd.to_numeric(infoBas['rtd_cause'], errors='coerce').fillna(0).astype(int)

infoBas['driver_id']=infoBas['driver_id'].fillna('N/A')
infoBas['cause_remark']=infoBas['cause_remark'].fillna('N/A')
infoBas['fc_remark']=infoBas['fc_remark'].fillna('N/A')

infoBas['date_issues']=infoBas['date_issues'].fillna('N/A')
infoBas['capt_id']=infoBas['capt_id'].fillna('N/A')
infoBas['bcc_acc_id']=infoBas['bcc_acc_id'].fillna('N/A')
infoBas['acc_date']=infoBas['acc_date'].fillna('N/A')
infoBas['bus_damage']=infoBas['bus_damage'].fillna('N/A')

infoBas['eng_find']=infoBas['eng_find'].fillna('N/A')

infoBas['label_1']=infoBas['label_1'].fillna('N/A').str.upper()
infoBas['label_2']=infoBas['label_2'].fillna('N/A').str.upper()
infoBas['label_3']=infoBas['label_3'].fillna('N/A').str.upper()
infoBas['label']=infoBas['label'].fillna('N/A').str.upper()

infoBas['point_a']=infoBas['point_a'].str.upper()
infoBas['point_b']=infoBas['point_b'].str.upper()

infoBas['operational_issue']=np.where(infoBas['label']=='NORMAL TRIP','NO','YES')

infoBas['days_before_issue']=np.where(infoBas['operational_issue']=='YES',0,np.nan)

#infoBas.to_csv('../data/model/data_model.csv',index=False)

infoBas#.columns

#/home/hadoop/MyRapidHack2023-BackEnd/

/var/folders/0n/c05wcq0d0wx4svldfv7fsgv00000gn/T/ipykernel_1685/4256414354.py:6: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  infoBas=pd.read_csv('../data/processed/InfoBAS.csv')
/var/folders/0n/c05wcq0d0wx4svldfv7fsgv00000gn/T/ipykernel_1685/4256414354.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
  infoBas['br_id']=infoBas['br_id'].fillna('0000000').astype(str).str.replace('\.0','')

,ope_date,depot_id,line_id,bus_no,br_id,br_repair_status,br_entry_status,br_date,br_date_entry,br_target_completed,br_ttl_days,label_2,rtd_id,rtd_date,route_id,bus_model_id,driver_id,rtd_cause,cause_remark,fc_remark,label_3,date_issues,capt_id,bcc_acc_id,acc_date,bus_damage,eng_find,label_1,label,point_a,point_b,ttl_td_id,ttl_captain_id,ttl_point_a,ttl_point_b,max_diff_minutes_from_point_a,max_diff_minutes_idle_mode,max_diff_minutes_to_point_a,min_diff_minutes_from_point_a,min_diff_minutes_idle_mode,min_diff_minutes_to_point_a,avg_diff_minutes_from_point_a,avg_diff_minutes_idle_mode,avg_diff_minutes_to_point_a,med_diff_minutes_from_point_a,med_diff_minutes_idle_mode,med_diff_minutes_to_point_a,max_speed,min_speed,avg_speed,med_speed,ttl_td_completed,depot_name,operational_issue,days_before_issue
0,2022-10-01 00:00:00,10,K1000,CDH7753,0000000,N/A,N/A,N/A,N/A,N/A,0,N/A,0,N/A,0,0,N/A,0,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,NORMAL TRIP,H/BANDAR,GAMBANG RESORT,14.0,1.0,1.0,1.0,84.533333,102.900000,80.500000,63.883333,29.100000,44.116667,73.233333,61.783333,68.311111,72.258333,57.675000,80.316667,28.0,8.0,16.181818,15.0,14.0,Kuantan,NO,NaN
1,2022-10-01 00:00:00,10,K1000,CDD1442,0000000,N/A,N/A,N/A,N/A,N/A,0,N/A,0,N/A,0,0,N/A,0,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,NORMAL TRIP,H/BANDAR,GAMBANG RESORT,12.0,1.0,1.0,1.0,158.950000,46.250000,106.600000,45.866667,3.800000,76.750000,92.727778,32.366667,88.500000,73.366667,41.483333,82.150000,56.0,15.0,24.090909,19.0,12.0,Kuantan,NO,NaN
2,2022-10-01 00:00:00,10,K1000,CDH2338,0000000,N/A,N/A,N/A,N/A,N/A,0,N/A,0,N/A,0,0,N/A,0,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,NORMAL TRIP,H/BANDAR,GAMBANG RESORT,12.0,1.0,1.0,1.0,83.283333,104.966667,80.116667,78.750000,34.916667,39.366667,81.766667,57.560000,60.505556,83.266667,51.216667,62.033333,59.0,8.0,21.777778,17.0,12.0,Kuantan,NO,NaN
3,2022-10-01 00:00:00,10,K1000,CDH5966,1129191,MAJOR,BAS MENYENTAP MASA MEMANDU,2022-10-01 00:00:00,2022-10-01 00:00:00,2022-10-02 00:00:00,1,ENGINE REPAIR,0,N/A,0,0,N/A,0,N/A,N/A,N/A,2022-10-01 00:00:00,N/A,N/A,N/A,N/A,N/A,N/A,ENGINE REPAIR,H/BANDAR,GAMBANG RESORT,12.0,1.0,1.0,1.0,79.983333,103.183333,83.833333,75.650000,33.933333,55.900000,77.433333,53.123333,70.572222,76.666667,44.350000,71.983333,45.0,8.0,17.083333,14.0,12.0,Kuantan,YES,0.0
4,2022-10-01 00:00:00,10,K1000,CDH7750,1129194,SCH.PM,SERVIS A,2022-10-01 00:00:00,2022-10-01 00:00:00,2022-10-02 00:00:00,1,ENGINE REPAIR,0,N/A,0,0,N/A,0,N/A,N/A,N/A,2022-10-01 00:00:00,N/A,N/A,N/A,N/A,N/A,N/A,ENGINE REPAIR,H/BANDAR,GAMBANG RESORT,8.0,1.0,1.0,1.0,114.933333,47.083333,97.566667,73.833333,6.433333,75.033333,94.383333,24.000000,86.300000,94.383333,18.483333,86.300000,56.0,6.0,21.285714,16.0,8.0,Kuantan,YES,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381342,2022-09-30 00:00:00,7,T8500,WUT8479,0000000,N/A,N/A,N/A,N/A,N/A,0,N/A,0,N/A,0,0,N/A,0,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,NORMAL TRIP,LRT BANGSAR,MENARA MILLENIUM,51.0,2.0,1.0,1.0,26.666667,47.316667,39.650000,16.000000,0.333333,14.000000,21.194444,16.559333,20.844872,21.000000,2.000000,19.333333,29.0,1.0,12.911111,12.0,51.0,Shah Alam,NO,NaN
381343,2022-09-30 00:00:00,7,T8500,WUT8479,0000000,N/A,N/A,N/A,N/A,N/A,0,N/A,0,N/A,0,0,N/A,0,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,NORMAL TRIP,LRT BANGSAR,MENARA MILLENIUM,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,11.0,11.000000,11.0,1.0,Shah Alam,NO,NaN
381344,2022-09-30 00:00:00,7,T8500,WVD3251,0000000,N/A,N/A,N/A,N/A,N/A,0,N/A,230404,2022-09-30 00:00:00,742,9,ZIYESHCC,13,"WEPER TIDAK BERFUNGSI,",N/A,RETURN TO DEPOT,2022-09-30 00:00:00,N/A,N/A,N/A,N/A,N/A,N/A,RETURN TO DEPOT,LRT BANGSAR,MENARA MILLENIUM,24.0,1.0,1.0,1.0,33.883333,198.033333,29.016667,16.900000,0.000000,16.966667,23.775000,31.071212,22.172222,21.933333,0.816667,20.925000,27.0,7.0,14.869565,13.0,24.0,Shah Alam,YES,0.0
381345,2022-09-30 00:00:00,7,T8500,WVE5806,0000000,N/A,N/A,N/A,N/A,N/A,0,N/A,0,N/A,0,0,N/A,0,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,NORMAL TRIP,LRT BANGSAR,MENARA MILLENIUM,36.0,1.0,1.0,1.0,38.950000,397.466667,32.016667,13.533333,0.000000,17.216667,20.777778,45.573148,21.294444,19.100000,11.733333,20.683333,35.0,5.0,15.411765,13.0,36.0,Shah Alam,NO,NaN
381346,2022-09-30 00:00:00,7,T7820,WVD2353,0000000,N/A,N/A,N/A,N/A,N/A,0,N/A,0,N/A,0,0,N/A,0,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,NORMAL TRIP,STATION LRT LEMBAH S,ARA DAMANSARA,16.0,1.0,1.0,1.0,11.466667,213.066667,12.266667,7.950000,0.450000,9.366667,9.895833,41.191667,10.950000,10.083333,19.558333,11.083333,43.0,1.0,21.200000,18.0,16.0,Shah Alam,NO,NaN

In [44]:
infoBas.groupby(['operational_issue']).count()['depot_id']

operational_issue
test    358148
Name: depot_id, dtype: int64

In [26]:
infoBas.columns

Index(['ope_date', 'depot_id', 'line_id', 'bus_no', 'br_id',
       'br_repair_status', 'br_entry_status', 'br_date', 'br_date_entry',
       'br_target_completed', 'br_ttl_days', 'label_2', 'rtd_id', 'rtd_date',
       'route_id', 'bus_model_id', 'driver_id', 'rtd_cause', 'cause_remark',
       'fc_remark', 'label_3', 'date_issues', 'capt_id', 'bcc_acc_id',
       'acc_date', 'bus_damage', 'eng_find', 'label_1', 'label', 'point_a',
       'point_b', 'ttl_td_id', 'ttl_captain_id', 'ttl_point_a', 'ttl_point_b',
       'max_diff_minutes_from_point_a', 'max_diff_minutes_idle_mode',
       'max_diff_minutes_to_point_a', 'min_diff_minutes_from_point_a',
       'min_diff_minutes_idle_mode', 'min_diff_minutes_to_point_a',
       'avg_diff_minutes_from_point_a', 'avg_diff_minutes_idle_mode',
       'avg_diff_minutes_to_point_a', 'med_diff_minutes_from_point_a',
       'med_diff_minutes_idle_mode', 'med_diff_minutes_to_point_a',
       'max_speed', 'min_speed', 'avg_speed', 'med_speed', 'ttl_td_completed',
       'depot_name'],
      dtype='object')

In [22]:
br_id_ref=infoBas[['depot_id','line_id']].drop_duplicates()
br_id_ref

        depot_id line_id
0             10   K1000
6             10   K1010
7             10   K2000
8             10   K3000
9             10   K3010
...          ...     ...
177398        27   T5890
278170         2   S6070
290181         5   H2020
303205        27   T5130
336538         7   S2020

[231 rows x 2 columns]

In [19]:
#predictive output,depot_id
#pd.read_csv('../ml/result_score_outofsample.csv')#.columns