In [22]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os
from datetime import datetime,timedelta
pd.set_option('display.max_columns', None)

### Info Depot

In [6]:
infoDepot=pd.read_csv('../data/processed/InfoDEPOT.csv')
infoDepot['depot_name']=infoDepot['depot_name'].str.strip()
infoDepot['state']=infoDepot['state'].str.strip()
infoDepot['zone']=infoDepot['zone'].str.strip()
infoDepot['code']=infoDepot['code'].str.strip()
infoDepot['route_desc']=infoDepot['route_desc'].str.strip()
infoDepot['distance']=infoDepot['distance'].str.replace(",","").str.strip().astype(float)
infoDepot['stop_name']=infoDepot['stop_name'].str.strip()
infoDepot['street_name']=infoDepot['street_name'].str.strip()

infoDepot['geopoint']=infoDepot['latitude'].astype(str)+','+infoDepot['longitude'].astype(str)

#infoDepot['geolocation']=gpd.points_from_xy(infoDepot['latitude'], infoDepot['longitude'])
#gdf = gpd.GeoDataFrame(infoDepot, geometry=gpd.points_from_xy(infoDepot.latitude, infoDepot.longitude)) 

#infoDepot.to_file("../data/processed/json/infoDepot.json", driver="GeoJSON")
#gdf.to_file("infoDepot.json", driver="GeoJSON")

infoDepot=infoDepot.to_json(orient = "records")
#infoDepot.to_csv('infoDepot2.csv',index=False)
with open('../data/processed/json/infoDepot.json', 'w') as f:
    f.write(infoDepot)

# run once to create solr collection infoDepot /home/hadoop/solr-9.3.0/bin/solr create -c infoDepot
#os.system('/home/hadoop/solr-9.3.0/bin/solr create -c infoDepot')

# run once to post data into infoDepot collection /home/hadoop/solr-9.3.0/bin/post -c infoDepot /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoDepot.json
os.system('/home/hadoop/solr-9.3.0/bin/post -c infoDepot /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoDepot.json')

1

In [28]:
infoDepot

,depot_id,depot_name,state,zone,code,route_id,route_desc,bus_stop_id,distance,stop_name,street_name,latitude,longitude,geolocation
0,1,Sentul,Selangor/Kuala Lumpur,RKL,STL,1.0,TITIWANGSA - BKT BINTANG via KG BARU,NaN,NaN,NaN,NaN,NaN,NaN,POINT EMPTY
1,1,Sentul,Selangor/Kuala Lumpur,RKL,STL,2.0,KL SENTRAL - MALURI,NaN,NaN,NaN,NaN,NaN,NaN,POINT EMPTY
2,1,Sentul,Selangor/Kuala Lumpur,RKL,STL,3.0,MALURI - TITIWANGSA via KLCC,NaN,NaN,NaN,NaN,NaN,NaN,POINT EMPTY
3,1,Sentul,Selangor/Kuala Lumpur,RKL,STL,4.0,JLN SULTAN MOHD - PARLIMEN,NaN,NaN,NaN,NaN,NaN,NaN,POINT EMPTY
4,1,Sentul,Selangor/Kuala Lumpur,RKL,STL,5.0,PINGGIRAN BT CAVES - CHOW KIT,NaN,NaN,NaN,NaN,NaN,NaN,POINT EMPTY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14890,28,Putrajaya,Selangor/Kuala Lumpur,RKL,PTJ,1123.0,Presint 11 ~ Dataran Gemilang,11744.0,13108.0,PPJ33 KEMENTERIAN PEMBANGUNAN LUAR BANDAR,PERSIARAN PERDANA,2.904778,101.681029,POINT (2.905 101.681)
14891,28,Putrajaya,Selangor/Kuala Lumpur,RKL,PTJ,1123.0,Presint 11 ~ Dataran Gemilang,11745.0,13278.0,PPJ34 DATARAN GEMILANG,LINGKARAN GEMILANG DUA,2.903404,101.681176,POINT (2.903 101.681)
14892,28,Putrajaya,Selangor/Kuala Lumpur,RKL,PTJ,1123.0,Presint 11 ~ Dataran Gemilang,11746.0,13552.0,PPJ37 DATARAN GEMILANG,LINGKARAN GEMILANG DUA,2.903986,101.679528,POINT (2.904 101.680)
14893,28,Putrajaya,Selangor/Kuala Lumpur,RKL,PTJ,1123.0,Presint 11 ~ Dataran Gemilang,11747.0,20543.0,PPJ38 KEMENTERIAN PEMBANGUNAN LUAR BANDAR (OPP),PERSIARAN PERDANA,2.904962,101.680463,POINT (2.905 101.680)
14894,28,Putrajaya,Selangor/Kuala Lumpur,RKL,PTJ,1123.0,Presint 11 ~ Dataran Gemilang,11680.0,20700.0,PPJ132 APARTMENT PRESINT 11B,JALAN P11B,2.957192,101.676781,POINT (2.957 101.677)

In [29]:
infoBas.columns

Index(['ope_date', 'depot_id', 'line_id', 'bus_no', 'point_a', 'point_b',
       'ttl_td_id', 'ttl_captain_id', 'ttl_point_a', 'ttl_point_b',
       'max_diff_minutes_from_point_a', 'max_diff_minutes_idle_mode',
       'max_diff_minutes_to_point_a', 'min_diff_minutes_from_point_a',
       'min_diff_minutes_idle_mode', 'min_diff_minutes_to_point_a',
       'avg_diff_minutes_from_point_a', 'avg_diff_minutes_idle_mode',
       'avg_diff_minutes_to_point_a', 'med_diff_minutes_from_point_a',
       'med_diff_minutes_idle_mode', 'med_diff_minutes_to_point_a',
       'max_speed', 'min_speed', 'avg_speed', 'med_speed', 'ttl_td_completed',
       'br_id', 'br_repair_status', 'br_entry_status', 'br_date',
       'br_date_entry', 'br_target_completed', 'br_ttl_days', 'rtd_id',
       'rtd_date', 'route_id', 'bus_model_id', 'driver_id', 'rtd_cause',
       'cause_remark', 'fc_remark', 'date_issues', 'capt_id', 'bcc_acc_id',
       'acc_date', 'bus_damage', 'eng_find', 'label'],
      dtype='object')

### Info Bas

In [80]:
infoDepot=pd.read_csv('../data/processed/InfoDEPOT.csv',low_memory=False)[['depot_id','depot_name']].drop_duplicates()

infoTRIP=pd.read_csv('../data/trip_departure/processed/td_agg.csv',low_memory=False)
infoTRIP['ope_date']=pd.to_datetime(infoTRIP['ope_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')

infoTRIP['point_a']=infoTRIP['point_a'].str.upper().str.replace('\/|\.','-')
infoTRIP['point_b']=infoTRIP['point_b'].str.upper().str.replace('\/|\.','-')

infoBas=pd.read_csv('../data/processed/InfoBAS.csv',low_memory=False)

infoBas['ope_date']=pd.to_datetime(infoBas['ope_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['br_date']=pd.to_datetime(infoBas['br_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['br_date_entry']=pd.to_datetime(infoBas['br_date_entry']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['br_target_completed']=pd.to_datetime(infoBas['br_target_completed']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['rtd_date']=pd.to_datetime(infoBas['rtd_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['date_issues']=pd.to_datetime(infoBas['date_issues']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoBas['acc_date']=pd.to_datetime(infoBas['acc_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')

#infoBas=infoBas.drop(columns=['label_1','label_2','label_3'])

infoBas=pd.merge(infoTRIP,infoBas,how='left',on=['ope_date','depot_id','line_id','bus_no']).drop_duplicates()
infoBas=pd.merge(infoBas,infoDepot,how='left',on=['depot_id']).drop_duplicates()

infoBas=infoBas[['ope_date', 'depot_id', 'line_id', 'bus_no', 'point_a', 'point_b',
       'br_id', 'br_repair_status', 'br_entry_status', 'br_date',
       'br_date_entry', 'br_target_completed', 'br_ttl_days', 'label_2',
       'rtd_id', 'rtd_date', 'route_id', 'bus_model_id', 'driver_id',
       'rtd_cause', 'cause_remark', 'fc_remark', 'label_3', 'date_issues',
       'capt_id', 'bcc_acc_id', 'acc_date', 'bus_damage', 'eng_find',
       'label_1', 'label', 'depot_name']]

'''

infoBas=infoBas.to_json(orient = "records")

with open('../data/processed/json/infoBas.json', 'w') as f:
    f.write(infoBas)

# run once to create solr collection infoBas /home/hadoop/solr-9.3.0/bin/solr create -c infoBas
#os.system('/home/hadoop/solr-9.3.0/bin/solr create -c infoBAS')

# run once to post data into infoBas collection /home/hadoop/solr-9.3.0/bin/post -c infoDepot /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoBas.json
#os.system('/home/hadoop/solr-9.3.0/bin/post -c infoDepot /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoBAS.json')

#/home/hadoop/MyRapidHack2023-BackEnd/
'''

C:\Users\izard\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

C:\Users\izard\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys

'\n\ninfoBas=infoBas.to_json(orient = "records")\n\nwith open(\'../data/processed/json/infoBas.json\', \'w\') as f:\n    f.write(infoBas)\n\n# run once to create solr collection infoBas /home/hadoop/solr-9.3.0/bin/solr create -c infoBas\n#os.system(\'/home/hadoop/solr-9.3.0/bin/solr create -c infoBAS\')\n\n# run once to post data into infoBas collection /home/hadoop/solr-9.3.0/bin/post -c infoDepot /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoBas.json\n#os.system(\'/home/hadoop/solr-9.3.0/bin/post -c infoDepot /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoBAS.json\')\n\n#/home/hadoop/MyRapidHack2023-BackEnd/\n'

In [79]:
pd.set_option('max_row', 150)
infoBas.groupby('point_b').count().reset_index()[['point_b']]['point_b']

0                    7E SS3
1       AEON BIG K-KEMUNING
2              AMPANG POINT
3              AMPNG POINT
4             ARA DAMANSARA
5              AMPANG POINT
6      BALAI BOMBA GOMBAK S
7              BALOK MAKMUR
8       BANDAR BANTING BARU
9              BANDAR KLANG
10           BAS STOP 9 UIA
11           BDR BARU BANGI
12        BDR BARU SELAYANG
13               BDR KAJANG
14                BDR KLANG
15                BDR UTAMA
16                      BK5
17               BUKIT SAGU
18            BUKIT TERATAI
19             BANDAR PUTRI
20             BANGSAR PARK
21       BT3 JLN KLANG LAMA
22             BUKIT PERMAI
23                CHERATING
24                CHOW KIT
25          DAMANSARA DAMAI
26           DE PALMA HOTEL
27     DEWAN TUNKU CANSELOR
28              DESA PANDAN
29             ENDAH PARADE
30           GAMBANG RESORT
31        GIANT HULU KELANG
32         GIANT SEKSYEN 13
33        GOOD YEAR COURT 7
34     HENTIAN BANDAR SEKSY
35          HOSPITAL AMPANG
36     HOSPITAL COLOMBIA KL
37         HOSPITAL SERDANG
38       HOSPITAL SHAH ALAM
39     HOSPITAL TUNGKU AMIN
40             HOTEL EASTIN
41     HUB LEBUH PUDU VIA B
42         INDERA MAHKOTA 1
43          INDERA SEMPURNA
44          IPD AMPANG JAYA
45     JALAN REJANG (KL717)
46            JENTAYU CONDO
47     KELANA JAYA CENTRE P
48     KL 31 HENTIAN MUSHI
49     KL 53 GRAND SEASONS
50     KL 953 UPTOWN DANAU
51     KL52 MONORAIL CHOW K
52                     KLCC
53             KLCC (UTARA)
54                   KLIA 2
55             KONDO RAKYAT
56           KOTA DAMANSARA
57     KOTA KEMUNING CENTRA
58     KS32 KOLEJ RAFFLESIA
59                KTM BANGI
60                  KTM BT3
61              KTM SERDANG
62           KTM SEKSYEN 19
63             KUALA PAHANG
64             LEBUH AMPANG
65               LEBUH PUDU
66                  LING HO
67               LRT AMPANG
68          LRT ALAM SUTERA
69                  LRT BTS
70               LRT GOMBAK
71         LRT PANDAN INDAH
72     LRT PUCHONG JAYA ( I
73              LRT SENTUL
74       LRT SENTUL KL 663
75           LRT SRI RAMPAI
76          LRT SS18 SUBANG
77          LRT SUBANG JAYA
78             LRT TMN JAYA
79           LRT TAMAN JAYA
80          MASJID SG BULOH
81           MENARA MAYBANK
82         MENARA MILLENIUM
83            METHODIST CAC
84              METRO PRIMA
85               MID VALLEY
86                 MRT BTHO
87              MRT STATION
88        MUTIARA TROPICANA
89                  PANGSUN
90               PASAR SENI
91              PASAR SENI
92                PAVILION
93                    PEKAN
94             PEKAN KAJANG
95          PERMATANG BADAK
96             PKNS BLOCK 4
97                  POLISAS
98                     PPUM
99                     PSDC
100               PUTRAJAYA
101              PASAR SENI
102             PEARL POINT
103          PUCHONG PRIMA
104          RAWANG PERDANA
105        SEK 13 SHAH ALAM
106           SEKSYEN 17 PJ
107         SEKSYEN 2 UITM
108              SEKSYEN 27
109              SG-LEMBING
110                  SG-LUI
111          SHELL CHOW KIT
112             SJ560 PJS 7
113    SJ732 MAIN PLACE MAL
114           SK SETIA ALAM
115    SMK BANDAR PUCHONG J
116          SMK SUNGAI SOI
117                SRI BAYU
118               SRI PULAI
119            SRJKC SUBANG
120           SS 2 POH KONG
121                    SS 6
122    SS 6 KELANA PARK VIE
123     STESEN KTM SERDANG
124               SUBANG HQ
125              SUNGAI WAY
126          SUNWAY PYRAMID
127        SAUJANA PUCHONG
128           SUNWAY LAGOON
129           TAMAN BAHAGIA
130            TAMAN IMPIAN
131          TAMAN MASTIARA
132          TAMAN MELAWATI
133      TAMAN SERDANG JAYA
134        TAR VILLA KL 193
135          TELUK CEMPEDAK
136     TERMINAL BAS RAWANG
137          TML BAS SEK 17
138         TPM BUKIT JALIL
139                     TSK
140             TAMAN MAWAR
141              TITIWANGSA
142    TMN KINRARA 7 ELEVEN
143             TMN WAWASAN
144        UITM PUNCAK ALAM
145           WANGSA PERMAI
146       KOMPLEKS NAHKAMAH
Name: point_b, dtype: object

### Info Captain

In [23]:
infoDepot=pd.read_csv('../data/processed/InfoDEPOT.csv')[['depot_id','depot_name','route_id','route_desc']].drop_duplicates()#

infoCaptain=pd.read_csv('../data/captain_schedule/processed/infoCAPTAIN.csv')

infoCaptain=pd.merge(infoCaptain,infoDepot,how='left',on=['depot_id','route_id']).head(10)#

infoCaptain['cs_date']=pd.to_datetime(infoCaptain['cs_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')
infoCaptain['ope_date']=pd.to_datetime(infoCaptain['ope_date']+ ' 00:00:00').dt.strftime('%Y-%m-%d %H:%M:%S')

infoCaptain=infoCaptain.rename(columns={'dt_gps_max':'dt_endduty','dt_gps_min':'dt_startduty'})
'''
infoCaptain=infoCaptain.to_json(orient = "records")



with open('../data/processed/json/infoCaptain.json', 'w') as f:
    f.write(infoCaptain)

# run once to create solr collection infoCaptain /home/hadoop/solr-9.3.0/bin/solr create -c infoCaptain
# os.system('/home/hadoop/solr-9.3.0/bin/solr create -c infoCaptain')

# run once to post data into infoCaptain collection /home/hadoop/solr-9.3.0/bin/post -c infoCaptain /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoCaptain.json
os.system('/home/hadoop/solr-9.3.0/bin/post -c infoCaptain /home/hadoop/MyRapidHack2023-BackEnd/data/processed/json/infoCaptain.json')
'''
infoCaptain

,cs_captain_id,bus_no,depot_id,route_id,cs_date,cs_startat,cs_endat,cs_startduty,cs_endduty,cs_totaltrip,minutes_plan,dt_captain_id,ope_date,dt_endduty,dt_startduty,dt_totaltrip,minutes_actual,depot_name,route_desc
0,VNNTUGYM,VAH9042,21,681,2022-10-01 00:00:00,MRT Sg.Buloh,NaN,05:00:00,15:00:00,12,600,NaN,NaN,NaN,NaN,NaN,NaN,MRT Sungai Buloh,MRT SUNGAI BULOH - MASJID HOSPITAL SUNGAI BULOH
1,ZFRXTOSA,VAH9042,21,681,2022-10-01 00:00:00,MRT Sg.Buloh,NaN,13:55:00,00:30:00,13,635,NaN,NaN,NaN,NaN,NaN,NaN,MRT Sungai Buloh,MRT SUNGAI BULOH - MASJID HOSPITAL SUNGAI BULOH
2,SHGYQRDN,VH1579,21,801,2022-10-01 00:00:00,MRT Sg.Buloh,NaN,04:55:00,15:05:00,7,610,NaN,NaN,NaN,NaN,NaN,NaN,MRT Sungai Buloh,MRT SUNGAI BULOH - TAMAN IMPIAN INDAH
3,TFNZBHEA,VAJ2875,21,801,2022-10-01 00:00:00,MRT Sg.Buloh,NaN,05:30:00,15:45:00,7,615,NaN,NaN,NaN,NaN,NaN,NaN,MRT Sungai Buloh,MRT SUNGAI BULOH - TAMAN IMPIAN INDAH
4,JMOJOCJA,VH1579,21,801,2022-10-01 00:00:00,MRT Sg.Buloh,NaN,14:25:00,00:15:00,7,590,NaN,NaN,NaN,NaN,NaN,NaN,MRT Sungai Buloh,MRT SUNGAI BULOH - TAMAN IMPIAN INDAH
5,FZZRKLJR,VAJ2875,21,801,2022-10-01 00:00:00,MRT Sg.Buloh,NaN,14:45:00,00:55:00,7,610,NaN,NaN,NaN,NaN,NaN,NaN,MRT Sungai Buloh,MRT SUNGAI BULOH - TAMAN IMPIAN INDAH
6,MLMDBXYO,VAJ8965,21,685,2022-10-01 00:00:00,MRT Kg.Selamat,NaN,05:10:00,15:35:00,14,625,NaN,NaN,NaN,NaN,NaN,NaN,MRT Sungai Buloh,MRT KAMPUNG SELAMAT - KAMPUNG BARU SG BULOH
7,RYNZSKUW,VG8591,21,683,2022-10-01 00:00:00,MRT Sg.Buloh,NaN,05:10:00,15:15:00,6,605,NaN,NaN,NaN,NaN,NaN,NaN,MRT Sungai Buloh,MRT SUNGAI BULOH - AMAN PUTRI
8,FYLMXHEL,VG8794,21,683,2022-10-01 00:00:00,MRT Sg.Buloh,NaN,05:40:00,15:45:00,6,605,NaN,NaN,NaN,NaN,NaN,NaN,MRT Sungai Buloh,MRT SUNGAI BULOH - AMAN PUTRI
9,ALGZZZTY,VG8654,21,683,2022-10-01 00:00:00,MRT Sg.Buloh,NaN,06:10:00,20:55:00,9,885,NaN,NaN,NaN,NaN,NaN,NaN,MRT Sungai Buloh,MRT SUNGAI BULOH - AMAN PUTRI

### Info Trip

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937495 entries, 0 to 937494
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   cs_captain_id   937495 non-null  object
 1   bus_no          794165 non-null  object
 2   depot_id        937495 non-null  int64
 3   route_id        937495 non-null  int64
 4   cs_date         937495 non-null  object
 5   cs_startat      937333 non-null  object
 6   cs_endat        706163 non-null  object
 7   cs_startduty    937495 non-null  object
 8   cs_endduty      937495 non-null  object
 9   cs_totaltrip    937495 non-null  int64
 10  minutes_plan    937495 non-null  int64
 11  dt_captain_id   469673 non-null  object
 12  ope_date        469673 non-null  object
 13  dt_endduty      469673 non-null  object
 14  dt_startduty    469673 non-null  object
 15  dt_totaltrip    469673 non-null  float64
 16  minutes_actual  469673 non-null  float64
dtypes: float64(2), int64(4), object(11)
memory usage: 121.6+ MB