In [9]:
'''
#read data from google drive
import pandas as pd

url_route='https://drive.google.com/file/d/1Zpo2zNZ3V1W1X4Z-icmugbCMZwHIcvCQ/view?usp=sharing' #route data
file_id_route=url_route.split('/')[-2]
dwn_url_route='https://drive.google.com/uc?id=' + file_id_route

url_rtd='https://drive.google.com/file/d/1rsJl1dTXFxP9NdzYWQDg-Mi5uaPq7Sdt/view?usp=sharing' # rtd data
file_id_rtd=url_rtd.split('/')[-2]
dwn_url_rtd='https://drive.google.com/uc?id=' + file_id_rtd

url_routebusstop='https://drive.google.com/file/d/1oUXNyNECeB5mewBGC-gOnBObddnUxJtH/view?usp=sharing' # route bus stop data
file_id_routebusstop=url_routebusstop.split('/')[-2]
dwn_url_routebusstop='https://drive.google.com/uc?id=' + file_id_routebusstop

url_engbusrepair='https://drive.google.com/file/d/1j1TaaCFTjo6QPAjTLA0oO0EvP5PZKuT3/view?usp=sharing' # eng bus repair data
file_id_engbusrepair=url_engbusrepair.split('/')[-2]
dwn_url_engbusrepair='https://drive.google.com/uc?id=' + file_id_engbusrepair

url_depot='https://drive.google.com/file/d/12t8aUsXqHgv7d4N448naa9ELAUz543pu/view?usp=sharing' # depot data
file_id_depot=url_depot.split('/')[-2]
dwn_url_depot='https://drive.google.com/uc?id=' + file_id_depot

url_captschedule='https://drive.google.com/file/d/1bc1QUGgn-pNGh2EEgqNPktekh1sVnVn0/view?usp=sharing' # captain schedule data ##
file_id_captschedule=url_captschedule.split('/')[-2]
dwn_url_captschedule='https://drive.google.com/uc?id=' + file_id_captschedule


url_busstoplist='https://drive.google.com/file/d/1Ht9MtdExwMTSl_nlvT6xePbrVcrelYVa/view?usp=sharing' # bus stop list data
file_id_busstoplist=url_busstoplist.split('/')[-2]
dwn_url_busstoplist='https://drive.google.com/uc?id=' + file_id_busstoplist

url_accident='https://drive.google.com/file/d/1Z9Dw_Qcb3JWnowbCmsZn9EDDBTJwmrJN/view?usp=sharing' # accident data
file_id_accident=url_accident.split('/')[-2]
dwn_url_accident='https://drive.google.com/uc?id=' + file_id_accident

url_tripdeparture='https://drive.google.com/file/d/1ax4m65Ev0awt1nkE_aLYurhO5Ydp-cHt/view?usp=sharing' # trip departure data ##
file_id_tripdeparture=url_tripdeparture.split('/')[-2]
dwn_url_tripdeparture='https://drive.google.com/uc?id=' + file_id_tripdeparture

'''

"\n#read data from google drive\nimport pandas as pd\n\nurl_route='https://drive.google.com/file/d/1Zpo2zNZ3V1W1X4Z-icmugbCMZwHIcvCQ/view?usp=sharing' #route data\nfile_id_route=url_route.split('/')[-2]\ndwn_url_route='https://drive.google.com/uc?id=' + file_id_route\n\nurl_rtd='https://drive.google.com/file/d/1rsJl1dTXFxP9NdzYWQDg-Mi5uaPq7Sdt/view?usp=sharing' # rtd data\nfile_id_rtd=url_rtd.split('/')[-2]\ndwn_url_rtd='https://drive.google.com/uc?id=' + file_id_rtd\n\nurl_routebusstop='https://drive.google.com/file/d/1oUXNyNECeB5mewBGC-gOnBObddnUxJtH/view?usp=sharing' # route bus stop data\nfile_id_routebusstop=url_routebusstop.split('/')[-2]\ndwn_url_routebusstop='https://drive.google.com/uc?id=' + file_id_routebusstop\n\nurl_engbusrepair='https://drive.google.com/file/d/1j1TaaCFTjo6QPAjTLA0oO0EvP5PZKuT3/view?usp=sharing' # eng bus repair data\nfile_id_engbusrepair=url_engbusrepair.split('/')[-2]\ndwn_url_engbusrepair='https://drive.google.com/uc?id=' + file_id_engbusrepair\n\nurl_depot='https://drive.google.com/file/d/12t8aUsXqHgv7d4N448naa9ELAUz543pu/view?usp=sharing' # depot data\nfile_id_depot=url_depot.split('/')[-2]\ndwn_url_depot='https://drive.google.com/uc?id=' + file_id_depot\n\nurl_captschedule='https://drive.google.com/file/d/1bc1QUGgn-pNGh2EEgqNPktekh1sVnVn0/view?usp=sharing' # captain schedule data ##\nfile_id_captschedule=url_captschedule.split('/')[-2]\ndwn_url_captschedule='https://drive.google.com/uc?id=' + file_id_captschedule\n\n\nurl_busstoplist='https://drive.google.com/file/d/1Ht9MtdExwMTSl_nlvT6xePbrVcrelYVa/view?usp=sharing' # bus stop list data\nfile_id_busstoplist=url_busstoplist.split('/')[-2]\ndwn_url_busstoplist='https://drive.google.com/uc?id=' + file_id_busstoplist\n\nurl_accident='https://drive.google.com/file/d/1Z9Dw_Qcb3JWnowbCmsZn9EDDBTJwmrJN/view?usp=sharing' # accident data\nfile_id_accident=url_accident.split('/')[-2]\ndwn_url_accident='https://drive.google.com/uc?id=' + file_id_accident\n\nurl_tripdeparture='https://drive.google.com/file/d/1ax4m65Ev0awt1nkE_aLYurhO5Ydp-cHt/view?usp=sharing' # trip departure data ##\nfile_id_tripdeparture=url_tripdeparture.split('/')[-2]\ndwn_url_tripdeparture='https://drive.google.com/uc?id=' + file_id_tripdeparture\n\n"

In [142]:
import pandas as pd
import numpy as np

### Splitting Data (100MB >) Into Smaller Chunks

In [13]:
#identifying timestamp from the obtained data of daily trip for Rapid's buses 
pd.read_csv('../data/trip_departure.csv')[['ope_date']].drop_duplicates() # output below indicate data availibility is from 1st Jan 2022 to 30th Jun 2023

           ope_date
0        2022-01-01
13550    2022-01-02
26984    2022-01-03
41912    2022-01-04
56808    2022-01-05
...             ...
8015940  2023-06-26
8031002  2023-06-27
8046136  2023-06-28
8060638  2023-06-29
8074884  2023-06-30

[546 rows x 1 columns]

In [14]:
trip_departure=pd.read_csv('../data/trip_departure.csv')
trip_departure['ope_date']=pd.to_datetime(trip_departure['ope_date'])
trip_departure

,td_id,ope_date,depot_id,line_id,captain_id,bus_no,code_duty,dt_plan,dt_gps,lat_lng,point_a,point_b,speed,sequence,pair,dir,direction,category,is_completed,td_created
0,34416614,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:15:00,2022-01-01 06:15:36,"3.158640,101.713100",PANDAN INDAH,LEBUH AMPANG,31.0,2.201011e+11,1,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10
1,34416615,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:50:00,2022-01-01 06:51:51,"3.133800,101.753600",PANDAN INDAH,LEBUH AMPANG,52.0,2.201011e+11,1,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10
2,34416616,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 07:27:00,2022-01-01 07:28:53,"3.134010,101.753800",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10
3,34416617,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:17:00,2022-01-01 08:19:33,"3.158930,101.712000",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10
4,34416618,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:42:00,2022-01-01 08:39:16,"3.159100,101.712600",PANDAN INDAH,LEBUH AMPANG,NaN,2.201011e+11,3,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8088971,48628449,2023-06-30,7,U7700,MMTTCVUR,VGF4516,NaN,NaN,2023-06-30 19:59:29,"3.048740,101.601600",NaN,NaN,24.0,2.306302e+11,7,arrive,DIR1_arrive,real,NaN,2023-07-01 05:00:25
8088972,48628450,2023-06-30,7,U7700,VLCPCYFT,VGF4514,NaN,NaN,2023-06-30 13:11:20,"3.144330,101.695400",NaN,NaN,18.0,2.306301e+11,4,depart,DIR2_depart,real,NaN,2023-07-01 05:00:25
8088973,48628451,2023-06-30,7,U7700,VLCPCYFT,VGF4514,NaN,NaN,2023-06-30 14:07:18,"3.048960,101.601600",NaN,NaN,16.0,2.306301e+11,4,arrive,DIR1_arrive,real,NaN,2023-07-01 05:00:25
8088974,48628462,2023-06-30,7,T7830,TRGEHBIJ,CDH2346,NaN,NaN,2023-06-30 23:55:30,"3.110917,101.612500",NaN,NaN,6.0,2.306302e+11,18,depart,DIR1_depart,real,NaN,2023-07-01 05:00:25
8088975,48628463,2023-06-30,7,T7830,TRGEHBIJ,CDH2346,NaN,NaN,2023-07-01 00:13:00,"3.098117,101.603300",NaN,NaN,20.0,2.307010e+11,18,arrive,DIR2_arrive,real,NaN,2023-07-01 05:00:25

In [31]:
#split trip departure data

months=list(range(1,13,1))
years=list(range(2022,2024,1))

for year in years:
    for month in months:
        filename='../data/trip_departure/trip_departure_'+str(month)+'_'+str(year)+'.csv'
        trip_departure[(trip_departure['ope_date'].dt.month==month)&(trip_departure['ope_date'].dt.year==year)].to_csv(filename,index=False)

In [39]:
pd.read_csv('../data/captain_schedule.csv')[['cs_date']].drop_duplicates()

           cs_date
0       2022-01-01
97      2022-01-02
200     2022-01-03
317     2022-01-04
431     2022-01-05
...            ...
743309  2023-06-26
743316  2023-06-27
743335  2023-06-28
743704  2023-06-29
743714  2023-06-30

[546 rows x 1 columns]

In [40]:
#identifying timestamp from the obtained data of captain schedule for Rapid's buses 
captain_schedule=pd.read_csv('../data/captain_schedule/captain_schedule.csv')# output below indicate data availibility is from 1st Jan 2022 to 30th Jun 2023 
captain_schedule['cs_date']=pd.to_datetime(captain_schedule['cs_date'])
captain_schedule

,cs_id,cs_date,cs_codeduty,cs_startduty,cs_reporthub,cs_firsttrip,cs_endduty,cs_totaltrip,cs_startat,cs_endat,cs_startpoint,cs_khokhr,cs_busno,cs_remark,captain_id,depot_id,route_id,cs_created,cs_modified
0,3507779,2022-01-01,AM1,0 days 05:15:00,0 days 05:55:00,0 days 06:00:00,0 days 15:20:00,14,MRT KWASA SENTR,NaN,NaN,0,VH4992,NaN,JKGYTDWD,21,922,2021-12-24 16:16:36,2021-12-24 16:30:48
1,3507780,2022-01-01,AM2,0 days 05:15:00,0 days 05:55:00,0 days 06:00:00,0 days 15:20:00,14,MRT SG BULOH,NaN,NaN,0,VH4206,NaN,CHFIHBVW,21,922,2021-12-24 16:16:36,2021-12-24 16:19:13
2,3507781,2022-01-01,AM3,0 days 05:25:00,0 days 06:05:00,0 days 06:10:00,0 days 15:30:00,14,MRT KWASA SENTR,NaN,NaN,0,VH4215,NaN,GCAXVLCY,21,922,2021-12-24 16:16:36,2021-12-24 16:29:38
3,3507782,2022-01-01,AM4,0 days 05:25:00,0 days 06:05:00,0 days 06:10:00,0 days 15:30:00,14,MRT SG BULOH,NaN,NaN,0,VAJ9068,NaN,ELXTEQOL,21,922,2021-12-24 16:16:36,2021-12-24 16:30:46
4,3507783,2022-01-01,AM5,0 days 05:30:00,0 days 06:15:00,0 days 06:20:00,0 days 15:40:00,14,MRT KWASA SENTR,NaN,NaN,0,VAF5752,NaN,XQYUUGTR,21,922,2021-12-24 16:16:36,2021-12-30 21:40:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761331,4395486,2023-06-30,DR1,0 days 05:50:00,0 days 06:20:00,0 days 06:30:00,0 days 19:30:00,0,Hadapan Pejabat Tana,NaN,NaN,0,PLP9054,NaN,TWLFTBMS,16,307,2023-06-29 16:05:33,NaN
761332,4395487,2023-06-30,AM1,0 days 05:15:00,0 days 06:20:00,0 days 06:30:00,0 days 16:05:00,0,Hentian Raya Parit B,NaN,NaN,0,PLP9142,NaN,RZBYNBBN,16,448,2023-06-29 16:05:33,NaN
761333,4395488,2023-06-30,PM1,0 days 14:40:00,0 days 15:35:00,0 days 15:45:00,0 days 00:05:00,0,Hentian Raya Parit B,NaN,NaN,0,PLP9142,NaN,FUVFMAPI,16,448,2023-06-29 16:05:33,NaN
761334,4395489,2023-06-30,AM2,0 days 06:15:00,0 days 07:20:00,0 days 07:30:00,0 days 13:50:00,0,Hentian Raya Parit B,NaN,NaN,0,PLP9114,NaN,LBKKQXOV,16,448,2023-06-29 16:05:33,NaN
761335,4395490,2023-06-30,PM2,0 days 12:25:00,0 days 13:20:00,0 days 13:30:00,0 days 22:55:00,0,Hentian Raya Parit B,NaN,NaN,1,PLP9114,NaN,JGGNPDJX,16,448,2023-06-29 16:05:33,NaN

In [41]:
#split captain schedule data

months=list(range(1,13,1))
years=list(range(2022,2024,1))

for year in years:
    for month in months:
        filename='../data/captain_schedule_'+str(month)+'_'+str(year)+'.csv'
        captain_schedule[(captain_schedule['cs_date'].dt.month==month)&(captain_schedule['cs_date'].dt.year==year)].to_csv(filename,index=False)

### Trip Departure Data Exploration (Sample for Jan 2022)

In [43]:
trip_departure_1_2022=pd.read_csv('../data/trip_departure/trip_departure_1_2022.csv')
trip_departure_1_2022

,td_id,ope_date,depot_id,line_id,captain_id,bus_no,code_duty,dt_plan,dt_gps,lat_lng,point_a,point_b,speed,sequence,pair,dir,direction,category,is_completed,td_created
0,34416614,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:15:00,2022-01-01 06:15:36,"3.158640,101.713100",PANDAN INDAH,LEBUH AMPANG,31.0,2.201011e+11,1,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10
1,34416615,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:50:00,2022-01-01 06:51:51,"3.133800,101.753600",PANDAN INDAH,LEBUH AMPANG,52.0,2.201011e+11,1,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10
2,34416616,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 07:27:00,2022-01-01 07:28:53,"3.134010,101.753800",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10
3,34416617,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:17:00,2022-01-01 08:19:33,"3.158930,101.712000",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10
4,34416618,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:42:00,2022-01-01 08:39:16,"3.159100,101.712600",PANDAN INDAH,LEBUH AMPANG,NaN,2.201011e+11,3,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448019,35080541,2022-01-31,7,T7560,PXXIVEWD,WQA5704,SP1,2022-01-31 20:20:00,2022-01-31 20:20:56,"3.071560,101.522100",HUB SEKSYEN 14 SHAH,KOTA KEMUNING CENTRA,20.0,2.201312e+11,7,arrive,DIR1_arrive,com,1.0,2022-02-01 05:00:20
448020,35080572,2022-01-31,7,T7780,EDYXAENC,WVD3298,PM1,2022-01-31 15:00:00,2022-01-31 15:03:01,"3.029770,101.581700",STATION LRT USJ 21,SMK USJ 23,30.0,2.201311e+11,0,depart,DIR1_depart,com,1.0,2022-02-01 05:00:20
448021,35080573,2022-01-31,7,T7780,EDYXAENC,WVD3298,PM1,2022-01-31 15:10:00,2022-01-31 15:10:26,"3.027470,101.580500",STATION LRT USJ 21,SMK USJ 23,8.0,2.201312e+11,0,arrive,DIR2_arrive,com,1.0,2022-02-01 05:00:20
448022,35080574,2022-01-31,7,T7780,EDYXAENC,WVD3298,PM1,2022-01-31 15:13:00,2022-01-31 15:15:11,"3.027310,101.580400",STATION LRT USJ 21,SMK USJ 23,15.0,2.201312e+11,1,depart,DIR2_depart,com,1.0,2022-02-01 05:00:20
448023,35080575,2022-01-31,7,T7780,EDYXAENC,WVD3298,PM1,2022-01-31 15:28:00,2022-01-31 15:29:25,"3.029610,101.581400",STATION LRT USJ 21,SMK USJ 23,NaN,2.201312e+11,1,arrive,DIR1_arrive,com,1.0,2022-02-01 05:00:20

In [141]:
#data model using sample data

trip_departure_1_1_2022_VGL1376=trip_departure_1_2022[(trip_departure_1_2022['bus_no']=='VGL1376')&(trip_departure_1_2022['ope_date']=='2022-01-01')]
trip_departure_1_1_2022_VGL1376['diff_minutes']=pd.to_datetime(trip_departure_1_1_2022_VGL1376['dt_gps']).diff()/np.timedelta64(1, 'm')
trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='arrive')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR2_arrive'),'to point a',np.nan)
trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='arrive')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR1_arrive'),'from point a',trip_departure_1_1_2022_VGL1376['diff_label'])
trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='depart')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR1_depart'),'idle mode',trip_departure_1_1_2022_VGL1376['diff_label'])
trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='depart')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR2_depart'),'idle mode',trip_departure_1_1_2022_VGL1376['diff_label'])

trip_departure_1_1_2022_VGL1376_1=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no'])[['td_id']].count().reset_index().rename(columns={'td_id':'ttl_td_id'}) # total trips on date
trip_departure_1_1_2022_VGL1376_2=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no'])[['captain_id']].nunique().reset_index().rename(columns={'captain_id':'ttl_captain_id'}) # total captains on duty on date
trip_departure_1_1_2022_VGL1376_3=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no'])[['point_a']].nunique().reset_index().rename(columns={'point_a':'ttl_point_a'}) # total point a of trip on date
trip_departure_1_1_2022_VGL1376_4=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no'])[['point_b']].nunique().reset_index().rename(columns={'point_b':'ttl_point_b'}) # total point b of trip on date

trip_departure_1_1_2022_VGL1376_5=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_6=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_7=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_8=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_9=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_10=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_11=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_12=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_13=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_14=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_15=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_16=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_17=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no']).agg({'speed':'max'}).reset_index().rename(columns={'speed':'max_speed'})
trip_departure_1_1_2022_VGL1376_18=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no']).agg({'speed':'min'}).reset_index().rename(columns={'speed':'min_speed'})
trip_departure_1_1_2022_VGL1376_19=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no']).agg({'speed':'mean'}).reset_index().rename(columns={'speed':'avg_speed'})
trip_departure_1_1_2022_VGL1376_20=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no']).agg({'speed':'median'}).reset_index().rename(columns={'speed':'med_speed'})

trip_departure_1_1_2022_VGL1376_21=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no']).agg({'is_completed':'sum'}).reset_index().rename(columns={'is_completed':'ttl_td_completed'})

trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_1,trip_departure_1_1_2022_VGL1376_2,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_3,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_4,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_5,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_6,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_7,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_8,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_9,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_10,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_11,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_12,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_13,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_14,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_15,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_16,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_17,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_18,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_19,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_20,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_21,how='left',on=['ope_date','bus_no'])

trip_departure_1_1_2022_VGL1376_int

C:\Users\izard\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\izard\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\izard\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\izard\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":
C:\Users\izard\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,ope_date,bus_no,ttl_td_id,ttl_captain_id,ttl_point_a,ttl_point_b,max_diff_minutes_from_point_a,max_diff_minutes_idle_mode,max_diff_minutes_to_point_a,min_diff_minutes_from_point_a,...,avg_diff_minutes_idle_mode,avg_diff_minutes_to_point_a,med_diff_minutes_from_point_a,med_diff_minutes_idle_mode,med_diff_minutes_to_point_a,max_speed,min_speed,avg_speed,med_speed,ttl_td_completed
0,2022-01-01,VGL1376,22,2,1,1,49.633333,74.7,111.333333,36.25,...,36.686667,61.55,44.675,31.325,50.4,56.0,7.0,28.45,22.5,22.0

In [140]:
#data model using sample data

trip_departure_1_1_2022['diff_minutes']=pd.to_datetime(trip_departure_1_1_2022['dt_gps']).diff()/np.timedelta64(1, 'm')
trip_departure_1_1_2022['diff_label']=np.where((trip_departure_1_1_2022['dir']=='arrive')&(trip_departure_1_1_2022['direction']=='DIR2_arrive'),'to point a',np.nan)
trip_departure_1_1_2022['diff_label']=np.where((trip_departure_1_1_2022['dir']=='arrive')&(trip_departure_1_1_2022['direction']=='DIR1_arrive'),'from point a',trip_departure_1_1_2022['diff_label'])
trip_departure_1_1_2022['diff_label']=np.where((trip_departure_1_1_2022['dir']=='depart')&(trip_departure_1_1_2022['direction']=='DIR1_depart'),'idle mode',trip_departure_1_1_2022['diff_label'])
trip_departure_1_1_2022['diff_label']=np.where((trip_departure_1_1_2022['dir']=='depart')&(trip_departure_1_1_2022['direction']=='DIR2_depart'),'idle mode',trip_departure_1_1_2022['diff_label'])

trip_departure_1_1_2022_1=trip_departure_1_1_2022.groupby(['ope_date','bus_no'])[['td_id']].count().reset_index().rename(columns={'td_id':'ttl_td_id'}) # total trips on date
trip_departure_1_1_2022_2=trip_departure_1_1_2022.groupby(['ope_date','bus_no'])[['captain_id']].nunique().reset_index().rename(columns={'captain_id':'ttl_captain_id'}) # total captains on duty on date
trip_departure_1_1_2022_3=trip_departure_1_1_2022.groupby(['ope_date','bus_no'])[['point_a']].nunique().reset_index().rename(columns={'point_a':'ttl_point_a'}) # total point a of trip on date
trip_departure_1_1_2022_4=trip_departure_1_1_2022.groupby(['ope_date','bus_no'])[['point_b']].nunique().reset_index().rename(columns={'point_b':'ttl_point_b'}) # total point b of trip on date

trip_departure_1_1_2022_5=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_6=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_7=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_8=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_9=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_10=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_11=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_12=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_13=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_14=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_15=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_16=trip_departure_1_1_2022[trip_departure_1_1_2022['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_17=trip_departure_1_1_2022.groupby(['ope_date','bus_no']).agg({'speed':'max'}).reset_index().rename(columns={'speed':'max_speed'})
trip_departure_1_1_2022_18=trip_departure_1_1_2022.groupby(['ope_date','bus_no']).agg({'speed':'min'}).reset_index().rename(columns={'speed':'min_speed'})
trip_departure_1_1_2022_19=trip_departure_1_1_2022.groupby(['ope_date','bus_no']).agg({'speed':'mean'}).reset_index().rename(columns={'speed':'avg_speed'})
trip_departure_1_1_2022_20=trip_departure_1_1_2022.groupby(['ope_date','bus_no']).agg({'speed':'median'}).reset_index().rename(columns={'speed':'med_speed'})

trip_departure_1_1_2022_21=trip_departure_1_1_2022.groupby(['ope_date','bus_no']).agg({'is_completed':'sum'}).reset_index().rename(columns={'is_completed':'ttl_td_completed'})

trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_1,trip_departure_1_1_2022_2,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_3,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_4,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_5,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_6,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_7,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_8,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_9,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_10,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_11,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_12,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_13,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_14,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_15,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_16,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_17,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_18,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_19,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_20,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_int=pd.merge(trip_departure_1_1_2022_int,trip_departure_1_1_2022_21,how='left',on=['ope_date','bus_no'])

trip_departure_1_1_2022_int

     ope_date   bus_no  is_completed
0  2022-01-01  VGL1376          22.0